.gradle/
build/
run/
out/
.idea/
*.iml
bak/
analysis/
_decompile_mc/
converted/
joint_maker/
ui-mockups/
rhythmc_maker_deploy_key
rhythmc_maker_deploy_key.pub
tmp/
*.tmp
*.log
hs_err_pid*
*.class
*.jar
*.war
*.zip
*.7z
!libs/
!libs/*.jar
